#slideshow{
    background-image:url('https://www.jqueryscript.net/images/Minimal-jQuery-Loading-Overlay-Spinner-Plugin-Easy-Overlay.jpg') ;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    background-position: center;

}